# Admin Authentication
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_this_password
JWT_SECRET=change_this_jwt_secret

# Database
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/wilcom-duncan-cms

# Cloudinary

# Contact Form
CONTACT_RECEIVER_EMAIL=client-email@example.com

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your-sending-email@gmail.com
SMTP_PASS=your-gmail-app-password

# Public Site URL
NEXT_PUBLIC_SITE_URL=http://localhost:3000
