# Admin Authentication (Change these in production)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password123
JWT_SECRET=super_secret_jwt_key_change_me_in_production

MONGODB_URI=mongodb+srv://vetsocom:Newwebsite@2026@cluster0.od9bwsm.mongodb.net/?appName=Cluster0
CONTACT_RECEIVER_EMAIL=wilcomduncan@gmail.com

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=solomonprincebright@gmail.com
SMTP_PASS==wwty bxzq ofsb nbop

NEXT_PUBLIC_SITE_URL=http://localhost:3000
