# Admin Authentication
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_this_password
JWT_SECRET=change_this_jwt_secret

# Database
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/database?retryWrites=true&w=majority

# Contact Form
CONTACT_RECEIVER_EMAIL=receiver@example.com

# SMTP
SMTP_HOST=smtp.example.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=sender@example.com
SMTP_PASS=your_smtp_or_app_password_without_extra_equals

# Public Site URL
NEXT_PUBLIC_SITE_URL=http://localhost:3000
